<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIStatusBarStyle</key>
	<string>DarkContent</string>
	<key>Global</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>textColor</key>
		<string>#000000</string>
		<key>barTextColor</key>
		<string>#FFFFFF</string>
		<key>barTintColor</key>
		<string>#01040D</string>
		<key>navBarBgColor</key>
		<string>#5C5C5C</string>
		<key>navBarTitleColor</key>
		<string>#FFFFFF</string>
		<key>tabBarBgColor</key>
		<string>#FFFFFF</string>
		<key>tabBarTitleColor_n</key>
		<string>#AAAAAA</string>
		<key>tabBarTitleColor_s</key>
		<string>#48D1CC</string>
		<key>lineColor</key>
		<string>#D8D8D8</string>
	</dict>
</dict>
</plist>
