<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-100</key>
	<string>未实现</string>
	<key>-1001</key>
	<string>抱歉，暂时无法操作此要求，请稍后再试</string>
	<key>100</key>
	<string>短信验证码无效</string>
	<key>10001</key>
	<string>用户名不存在</string>
	<key>10002</key>
	<string>服务器忙录中，请稍后再试</string>
	<key>10003</key>
	<string>查无绑定手机号</string>
	<key>10004</key>
	<string>无法发送验证码</string>
	<key>10005</key>
	<string>验证码120秒内有效，上一条验证码仍在有效期</string>
	<key>10006</key>
	<string>无法获取验证码</string>
	<key>10007</key>
	<string>验证码无法验证</string>
	<key>10008</key>
	<string>余额不足</string>
	<key>10009</key>
	<string>闪兑失败，请联系客服</string>
	<key>10010</key>
	<string>交易密码无效</string>
	<key>10011</key>
	<string>闪兑操作无效</string>
	<key>10012</key>
	<string>此币种无法操作闪兑</string>
	<key>10013</key>
	<string>[SBlock1]不允许闪兑到[SBlock2]</string>
	<key>10014</key>
	<string>无法获取币种汇率</string>
	<key>10015</key>
	<string>此用户名无法注册</string>
	<key>10016</key>
	<string>您的手机号已经达到最高户口注册限额</string>
	<key>10017</key>
	<string>推荐人用户名不能置空</string>
	<key>10018</key>
	<string>注册失败</string>
	<key>10019</key>
	<string>用户名不存在</string>
	<key>10020</key>
	<string>无法搜索此用户名</string>
	<key>10021</key>
	<string>币种不存在</string>
	<key>10023</key>
	<string>请选择币种</string>
	<key>10024</key>
	<string>查无量化记录</string>
	<key>10028</key>
	<string>数额太小，无法转出</string>
	<key>10029</key>
	<string>转出失败</string>
	<key>1003</key>
	<string>登录已过期</string>
	<key>10030</key>
	<string>用户名不存在</string>
	<key>10031</key>
	<string>密码不正确</string>
	<key>10032</key>
	<string>账号已被冻结，请联系客服</string>
	<key>10033</key>
	<string>查无可闪兑币种</string>
	<key>10034</key>
	<string>最小可闪兑数额为$[SBlock]</string>
	<key>10035</key>
	<string>请先进行身份认证</string>
	<key>10036</key>
	<string>转出操作不允许，请联系客服</string>
	<key>10037</key>
	<string>钱包类型无效</string>
	<key>10038</key>
	<string>无法获取钱包地址</string>
	<key>10039</key>
	<string>上传图片失败</string>
	<key>10040</key>
	<string>反馈类型不存在</string>
	<key>10041</key>
	<string>无法提交反馈</string>
	<key>10042</key>
	<string>无法关闭反馈</string>
	<key>10043</key>
	<string>查无量化记录</string>
	<key>10044</key>
	<string>无法取消量化</string>
	<key>10045</key>
	<string>您已启动星际量化 $[SBlock1], \n您还能启动最高额 $[SBlock2]</string>
	<key>10046</key>
	<string>审核通过</string>
	<key>10047</key>
	<string>审核中</string>
	<key>10048</key>
	<string>审核不通过， 请再次认证</string>
	<key>10049</key>
	<string>您的账户不可再进行量化</string>
	<key>10050</key>
	<string>量化额必须是10的倍数</string>
	<key>10051</key>
	<string>量化额最低 $10，最高 $50,000</string>
	<key>10052</key>
	<string>用户名不存在</string>
	<key>10053</key>
	<string>推荐人无效</string>
	<key>10054</key>
	<string>更新失败</string>
	<key>10055</key>
	<string>请输入推荐人用户名</string>
	<key>10056</key>
	<string>无法更改推荐人</string>
	<key>10057</key>
	<string>推荐人不存在</string>
	<key>10058</key>
	<string>请先将其他币种取消量化，才能取消L币量化</string>
	<key>10059</key>
	<string>由于多次密码尝试失效，您的户口暂时被冻结。请于5分钟后再进行登入。</string>
	<key>10060</key>
	<string>身份认证失败</string>
	<key>10061</key>
	<string>本身不能当推荐人</string>
	<key>10062</key>
	<string>新密码不能与旧密码相同</string>
	<key>10063</key>
	<string>请填写所有必填资料</string>
	<key>10064</key>
	<string>登录密码需一致</string>
	<key>10065</key>
	<string>交易密码需一致</string>
	<key>10066</key>
	<string>用户名长度为3-20个字符，支持大小写字母与数字</string>
	<key>10067</key>
	<string>登录密码长度为8-16个字符，支持大小写字母与数字</string>
	<key>10068</key>
	<string>交易密码长度为8-16个字符，支持大小写字母与数字</string>
	<key>10069</key>
	<string>请选择币种</string>
	<key>10070</key>
	<string>服务器忙碌中，请稍后再试</string>
	<key>10071</key>
	<string>此量化无法取消</string>
	<key>10072</key>
	<string>引力映射中，请静待能量跃升</string>
	<key>10073</key>
	<string>量化已达到上限</string>
	<key>10074</key>
	<string>邮箱地址不存在</string>
	<key>10076</key>
	<string>钱包地址验证失败或不存在，请稍后再试</string>
	<key>10077</key>
	<string>今日量化仓已满，请明天提前排仓</string>
	<key>10078</key>
	<string>无法更改密码</string>
	<key>10081</key>
	<string>已达保存限额量</string>
	<key>10082</key>
	<string>删除失败</string>
	<key>10085</key>
	<string>您的账号已被锁定，请更新您的密码</string>
	<key>10086</key>
	<string>用户名或密码不正确</string>
	<key>10087</key>
	<string>发现新版本，如果无法安装，请卸载APP后重新安装</string>
	<key>10088</key>
	<string>此量化已被取消</string>
	<key>101</key>
	<string>极限验证无效</string>
	<key>102</key>
	<string>支付密码无效</string>
	<key>103</key>
	<string>重置token无效</string>
	<key>104</key>
	<string>图形验证码无效</string>
	<key>105</key>
	<string>图形验证码已过期</string>
	<key>106</key>
	<string>PIN不存在</string>
	<key>107</key>
	<string>PIN不匹配</string>
	<key>204</key>
	<string>手机号码格式异常</string>
	<key>205</key>
	<string>邀请码无效</string>
	<key>206</key>
	<string>邮箱无效</string>
	<key>207</key>
	<string>对应用户邮箱不存在</string>
	<key>500</key>
	<string>账户无助记词</string>
	<key>501</key>
	<string>地址创建中</string>
	<key>502</key>
	<string>账户已导入助记词</string>
	<key>503</key>
	<string>地址已存在</string>
	<key>504</key>
	<string>地址创建失败</string>
	<key>505</key>
	<string>助记词已存在</string>
	<key>600</key>
	<string>余额不足</string>
	<key>601</key>
	<string>获取gas时, 余额不足</string>
	<key>602</key>
	<string>不能自己转账给自己</string>
	<key>700</key>
	<string>未发现新的版本</string>
	<key>800</key>
	<string>不支持的币种</string>
	<key>801</key>
	<string>地址无效</string>
</dict>
</plist>
