<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-100</key>
	<string></string>
	<key>-1001</key>
	<string>申し訳ありませんが、現在お客様のリクエストを処理できません。 後でもう一度やり直してください</string>
	<key>100</key>
	<string></string>
	<key>10001</key>
	<string>ユーザー名が存在しません</string>
	<key>10002</key>
	<string>サーバーが忙しいで、後程、再度の確認してください</string>
	<key>10003</key>
	<string>携帯番号バインディングを見つからないです</string>
	<key>10004</key>
	<string>検証コードを発送できません</string>
	<key>10005</key>
	<string>検証コードの有効期限は１２０秒です</string>
	<key>10006</key>
	<string>検証コードを取得できません</string>
	<key>10007</key>
	<string>検証コードを検証できません</string>
	<key>10008</key>
	<string>残高不足</string>
	<key>10009</key>
	<string>即時に両替失敗で、サービスに連絡してください</string>
	<key>10010</key>
	<string>取引コードは無効です</string>
	<key>10011</key>
	<string>即時に両替操作は無効です</string>
	<key>10012</key>
	<string>この暗号通貨は即時に両替使用できません</string>
	<key>10013</key>
	<string>[SBlock1]と[SBlock2]の即時両替できません</string>
	<key>10014</key>
	<string>暗号通貨の為替レートは取得できません</string>
	<key>10015</key>
	<string>このユーザー名は登記できません</string>
	<key>10016</key>
	<string>あなたの携帯電話番号がアカウント登録制限を超えています。</string>
	<key>10017</key>
	<string>推薦人のユーザー名を記入してください</string>
	<key>10018</key>
	<string>登記失敗</string>
	<key>10019</key>
	<string>ユーザー名が存在しません</string>
	<key>10020</key>
	<string>ユーザー名を検索できません</string>
	<key>10021</key>
	<string>暗号通貨なし</string>
	<key>10023</key>
	<string>暗号通貨を選択</string>
	<key>10024</key>
	<string>量化記録なし</string>
	<key>10028</key>
	<string>額がすくない、転出できません</string>
	<key>10029</key>
	<string>転出失敗</string>
	<key>1003</key>
	<string>登録情報は期限切れ</string>
	<key>10030</key>
	<string>ユーザー名は存在なし</string>
	<key>10031</key>
	<string>パスワードは正しくないです</string>
	<key>10032</key>
	<string>アカウントが凍結されましたので、サービスに連絡してください</string>
	<key>10033</key>
	<string>即時に両替の暗号通貨を検索できません</string>
	<key>10034</key>
	<string>最少即時両替額は$[SBlock]</string>
	<key>10035</key>
	<string>身分証明してください</string>
	<key>10036</key>
	<string>転出操作できませんので、サービスに連絡してください</string>
	<key>10037</key>
	<string>財布類型無効</string>
	<key>10038</key>
	<string>財布アドレスを検索できません</string>
	<key>10039</key>
	<string>写真アップロード失敗</string>
	<key>10040</key>
	<string>フィードバック類型はなし</string>
	<key>10041</key>
	<string>フィードバック提出できません</string>
	<key>10042</key>
	<string>フィードバックを閉じることできません</string>
	<key>10043</key>
	<string>量化記録なし</string>
	<key>10044</key>
	<string>量化をキャンセルできません</string>
	<key>10045</key>
	<string> あなたは星の世界の$[SBlock1]量化を起動しました,それに \n最高额 $[SBlock2]にも起動できます</string>
	<key>10046</key>
	<string>審査合格</string>
	<key>10047</key>
	<string>審査中</string>
	<key>10048</key>
	<string>審査不合格、再度検証してください</string>
	<key>10049</key>
	<string>あなたのアカウントは再度量化できません</string>
	<key>10050</key>
	<string>量化額は必ず１０の倍数です</string>
	<key>10051</key>
	<string>量化額は最低$10，最高 $50,000です</string>
	<key>10052</key>
	<string>ユーザー名は存在なし</string>
	<key>10053</key>
	<string>推薦人は無効</string>
	<key>10054</key>
	<string>更新失敗</string>
	<key>10055</key>
	<string>推薦人のユーザー名を記入してください</string>
	<key>10056</key>
	<string>推薦人を変更できません</string>
	<key>10057</key>
	<string>推薦人は存在しません</string>
	<key>10058</key>
	<string>他の暗号通貨をキャンセルしてから、Ｌの量化をキャンセルできます</string>
	<key>10059</key>
	<string>５分後の再度にやってみてください</string>
	<key>10060</key>
	<string>身分認証失敗</string>
	<key>10061</key>
	<string>推薦人にならない</string>
	<key>10062</key>
	<string>新しいパスワードは古いパスワードは同じならないでください</string>
	<key>10063</key>
	<string>不足している欄に記入してください</string>
	<key>10064</key>
	<string>登録パスワードは一致必要</string>
	<key>10065</key>
	<string>取引パスワードは一致必要</string>
	<key>10066</key>
	<string>ユーザー名は無効</string>
	<key>10067</key>
	<string>登録パスワードの長さは８〜16文字で、大文字と小文字の表音文字、数字をサポートしています</string>
	<key>10068</key>
	<string>取引パスワードの長さは８〜17文字で、大文字と小文字の表音文字、数字をサポートしています</string>
	<key>10069</key>
	<string>暗号通貨を選択</string>
	<key>10070</key>
	<string>サーバーが忙しいで、後程、再度の確認してください</string>
	<key>10071</key>
	<string>この量化をキャンセルできません</string>
	<key>10072</key>
	<string>引力反射中で、能力アップを待ってください。</string>
	<key>10073</key>
	<string>量化は上限になります</string>
	<key>10074</key>
	<string>メールアドレスが無効です</string>
	<key>10076</key>
	<string>アドレス検証に失敗したか、存在しないため、しばらくしてからもう一度お試しください。</string>
	<key>10077</key>
	<string>毎日のステーキング上限に達しました。明日早く戻ってきてください</string>
	<key>10078</key>
	<string>パスワードを変更できません</string>
	<key>10081</key>
	<string>保存制限を超えました</string>
	<key>10082</key>
	<string>削除できませんでした</string>
	<key>10085</key>
	<string>アカウントはロックされています。パスワードを更新してください。</string>
	<key>10086</key>
	<string>ユーザー名またはパスワードが正しくありません</string>
	<key>10087</key>
	<string>新バージョンアップデート！ アップデートを実行できない場合は、既存のアプリを削除して新しいアプリをインストールしてください。</string>
	<key>10088</key>
	<string>この出資は取り消されました</string>
	<key>101</key>
	<string></string>
	<key>102</key>
	<string></string>
	<key>103</key>
	<string></string>
	<key>104</key>
	<string></string>
	<key>105</key>
	<string></string>
	<key>106</key>
	<string></string>
	<key>107</key>
	<string></string>
	<key>204</key>
	<string></string>
	<key>205</key>
	<string></string>
	<key>206</key>
	<string></string>
	<key>207</key>
	<string></string>
	<key>500</key>
	<string></string>
	<key>501</key>
	<string></string>
	<key>502</key>
	<string></string>
	<key>503</key>
	<string></string>
	<key>504</key>
	<string></string>
	<key>505</key>
	<string></string>
	<key>600</key>
	<string></string>
	<key>601</key>
	<string></string>
	<key>602</key>
	<string></string>
	<key>700</key>
	<string></string>
	<key>800</key>
	<string></string>
	<key>801</key>
	<string></string>
</dict>
</plist>
