<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-100</key>
	<string></string>
	<key>-1001</key>
	<string>Leider können wir Ihre Anfrage derzeit nicht bearbeiten. Bitte versuchen Sie es später noch einmal</string>
	<key>100</key>
	<string></string>
	<key>10001</key>
	<string>Nutzername existiert nicht</string>
	<key>10002</key>
	<string>Server ist ausgelastet. Bitte versuchen Sie es später</string>
	<key>10003</key>
	<string>keine gebundene Handynummer </string>
	<key>10004</key>
	<string>Bestätigungscode kann nicht gesendet werden</string>
	<key>10005</key>
	<string>Der Bestätigungscode ist 120 Sekunden lang gültig</string>
	<key>10006</key>
	<string>Bestätigungscode kann nicht erhalten werden</string>
	<key>10007</key>
	<string>Bestätigungscode kann nicht bestätigt werden</string>
	<key>10008</key>
	<string>Restbetrag nicht genug</string>
	<key>10009</key>
	<string>Flash-Umwechseln misslungen, bitte kontaktieren Sie den Kundendienst</string>
	<key>10010</key>
	<string>ungültiges Transaktionspasswort</string>
	<key>10011</key>
	<string>ungültiges Flash-Umwechseln</string>
	<key>10012</key>
	<string>Diese Währung kann nicht mit Flash-Umwechseln betrieben werden</string>
	<key>10013</key>
	<string>[SBlock1] darf nicht in [SBlock2] umgewechselt werden</string>
	<key>10014</key>
	<string>Wechselkurs kann nicht erhalten werden</string>
	<key>10015</key>
	<string>Dieser Nutzername kann nicht registriert werden</string>
	<key>10016</key>
	<string>Ihre Handynummer hat die Kontoregisterbegrenzungen überschritten.</string>
	<key>10017</key>
	<string>Nutzername des Empfehlers kann nicht leer sein</string>
	<key>10018</key>
	<string>Registrierung misslungen</string>
	<key>10019</key>
	<string>Nutzername existiert nicht</string>
	<key>10020</key>
	<string>Nach diesem Nutzernamen kann nicht gesucht werden</string>
	<key>10021</key>
	<string>Währungstyp existiert nicht</string>
	<key>10023</key>
	<string>Währungstyp auswählen</string>
	<key>10024</key>
	<string>keine quantitativen Aufzeichnungen</string>
	<key>10028</key>
	<string>Der Betrag ist zu gering zu Auszahlung</string>
	<key>10029</key>
	<string>Auszahlung misslungen</string>
	<key>1003</key>
	<string>Anmeldedaten sind abgelaufen</string>
	<key>10030</key>
	<string>Nutzername existiert nicht</string>
	<key>10031</key>
	<string>falsches Passwort</string>
	<key>10032</key>
	<string>Das Konto wurde gesperrt. Bitte kontaktieren Sie den Kundendienst</string>
	<key>10033</key>
	<string>keine Flash-Umwechseln-Währung </string>
	<key>10034</key>
	<string>Der minimale flashbare Betrag ist $ [SBlock]</string>
	<key>10035</key>
	<string>Bitte authentifizieren Sie sich zuerst</string>
	<key>10036</key>
	<string>Auszahlung nicht zulässig. Bitte kontaktieren Sie den Kundendienst</string>
	<key>10037</key>
	<string>ungültiger Brieftaschentyp</string>
	<key>10038</key>
	<string>Brieftaschenadresse kann nicht abgerufen werden</string>
	<key>10039</key>
	<string>Hochladen des Bildes misslungen</string>
	<key>10040</key>
	<string>Feedback-Typ existiert nicht</string>
	<key>10041</key>
	<string>Feedback kann nicht gesendet werden</string>
	<key>10042</key>
	<string>Feedback kann nicht geschlossen werden</string>
	<key>10043</key>
	<string>keine quantitativen Aufzeichnungen</string>
	<key>10044</key>
	<string>Quantifizierung kann nicht abgebrochen werden</string>
	<key>10045</key>
	<string>Sie haben mit der Quantifizierung von  $[SBlock1] begonnen  \n und Sie können den maximalen Betrag von $[SBlock2] noch quantifizieren</string>
	<key>10046</key>
	<string>überprüft</string>
	<key>10047</key>
	<string>im Überprüfungsprozess</string>
	<key>10048</key>
	<string>überprüfen misslungen. Bitte zertifizieren Sie noch einmal</string>
	<key>10049</key>
	<string>Ihr Konto kann nicht mehr quantifiziert werden</string>
	<key>10050</key>
	<string>Der quantifizierte Betrag muss ein Vielfaches von 10 sein</string>
	<key>10051</key>
	<string>Der quantifizierte Betrag muss von 10 $ bis 50.000 $ sein</string>
	<key>10052</key>
	<string>Nutzername existiert nicht</string>
	<key>10053</key>
	<string>kein Empfehler</string>
	<key>10054</key>
	<string>Update misslungen</string>
	<key>10055</key>
	<string>Bitte geben Sie Namen vom Empfehler ein</string>
	<key>10056</key>
	<string>Empfehler kann nicht geändert werden</string>
	<key>10057</key>
	<string>Empfehler existiert nicht</string>
	<key>10058</key>
	<string>Bitte brechen Sie die Quantifizierung anderer Währungen ab, bevor Sie die Quantifizierung der L-Währung abbrechen können.</string>
	<key>10059</key>
	<string>Bitte versuchen Sie es in 5 Minuten wieder</string>
	<key>10060</key>
	<string>Identitätsauthentifizierung misslungen</string>
	<key>10061</key>
	<string>Sie selbst können nicht Empfehler sein</string>
	<key>10062</key>
	<string>Das neue Passwort darf dem alten Passwort nicht gleich sein</string>
	<key>10063</key>
	<string>Bitte füllen Sie das fehlende Feld aus</string>
	<key>10064</key>
	<string>Login-Passwort muss gleich sein</string>
	<key>10065</key>
	<string>Transaktionspasswort muss gleich sein</string>
	<key>10066</key>
	<string>ungültiger Nutzername</string>
	<key>10067</key>
	<string>Login-Passwort hat 8-16 Zeichen und Groß- und Kleinbuchstaben sowie Ziffern sind ok.</string>
	<key>10068</key>
	<string>Transaktionspasswort hat 8-16 Zeichen und Groß- und Kleinbuchstaben sowie Ziffern sind ok.</string>
	<key>10069</key>
	<string>Bitte wählen Sie Währungstyp aus</string>
	<key>10070</key>
	<string>Server ist ausgelastet. Bitte versuchen Sie es später</string>
	<key>10071</key>
	<string>Quantifizierung kann nicht abgebrochen werden</string>
	<key>10072</key>
	<string>Interstellar Staking Einnahmen generieren, bitte versuchen Sie es später</string>
	<key>10073</key>
	<string>Quantifizierung hat die Obergrenze erreicht</string>
	<key>10074</key>
	<string>E-Mail ist keine gültige E-Mail adresse</string>
	<key>10076</key>
	<string>Adressvalidierung fehlgeschlagen oder nicht vorhanden. Bitte versuchen Sie es später erneut.</string>
	<key>10077</key>
	<string>Tägliches Einsatzlimit erreicht, bitte kommen Sie morgen früher zurück</string>
	<key>10078</key>
	<string>Passwort kann nicht geändert werden</string>
	<key>10081</key>
	<string>Gespeicherte Grenzwerte überschritten</string>
	<key>10082</key>
	<string>Löschen fehlgeschlagen</string>
	<key>10085</key>
	<string>Ihr Konto wurde gesperrt. Bitte aktualisieren Sie Ihr Passwort.</string>
	<key>10086</key>
	<string>Benutzername oder Passwort ist falsch</string>
	<key>10087</key>
	<string>Neues Versionsupdate! Bitte entfernen Sie die vorhandene App und installieren Sie eine neue, wenn Sie keine Aktualisierung durchführen können.</string>
	<key>10088</key>
	<string>Dieser Einsatz wurde abgesagt</string>
	<key>101</key>
	<string></string>
	<key>102</key>
	<string></string>
	<key>103</key>
	<string></string>
	<key>104</key>
	<string></string>
	<key>105</key>
	<string></string>
	<key>106</key>
	<string></string>
	<key>107</key>
	<string></string>
	<key>204</key>
	<string></string>
	<key>205</key>
	<string></string>
	<key>206</key>
	<string></string>
	<key>207</key>
	<string></string>
	<key>500</key>
	<string></string>
	<key>501</key>
	<string></string>
	<key>502</key>
	<string></string>
	<key>503</key>
	<string></string>
	<key>504</key>
	<string></string>
	<key>505</key>
	<string></string>
	<key>600</key>
	<string></string>
	<key>601</key>
	<string></string>
	<key>602</key>
	<string></string>
	<key>700</key>
	<string></string>
	<key>800</key>
	<string></string>
	<key>801</key>
	<string></string>
</dict>
</plist>
